* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 10px;
}

body {
  text-align: center;
  height: 100vh;
}

strong {
  color: #505050;
  font-family: Inter;
  font-size: 68px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p {
  color: #505050;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 40px;
}

#resultado {
  color: #c1c1c1;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 18px;
}

input {
  padding-left: 10px;
  color: #505050;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 660px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #505050;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttonIcon {
  color: #505050;
  padding-top: 6px;
  padding-left: 2px;
  font-size: 20px;
  transition: ease 0.2;
}

button {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  border: 2px solid #505050;
  background: #ffffff;
}

button:hover {
  border: 2px solid #505050;
  background: #505050;
  transition: ease 0.3s;
  cursor: pointer;

  .buttonIcon {
    color: white;
  }
}

#numeroOrdenados {
  width: 100%;
  max-width: 720px;
  margin: auto;
}

.numerosOrdenadinhos {
  color: #505050;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#ordenadosSpan {
  color: #9f9f9f;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 40px;
}